/*-- scss:defaults --*/

$theme: "quarto_mod" !default;

// Colors

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #eee !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #aaa !default;
$gray-600: #777 !default;
$gray-700: #495057 !default;
$gray-800: #333 !default;
$gray-900: #222 !default;
$black: #000 !default;

$coral: #932c28 !default;
$indigo: #6429c2 !default;
$purple: #6e5c8f !default;
$pink: #d26598 !default;
$red: #e16565 !default;
$orange: #e8a36a !default;
$yellow: #e4de89 !default;
$green: #55a76e !default;
$teal: #65c4a8 !default;
$cyan: #aac8d2 !default;
$blue: #3a6187 !default;
$lightpink: #ecc2d5 !default;
$verylightpink: #fff5f9 !default;
$verylightpurple: #f9f6ff !default;
$lightpurple: #b5a8d0 !default;

$primary: $purple !default;
$secondary: $red !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $verylightpurple !default;
$dark: $blue !default;

$min-contrast-ratio: 1.28 !default;

// Fonts

$font-family-sans-serif: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-size-root: 16px !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.1 !default;

// Buttons

$input-btn-padding-x: 1rem !default;

// Navbar

$navbar-light-color: rgba($black, .7) !default;
$navbar-light-hover-color: $black !default;
$navbar-light-active-color: $black !default;

// .navbar-dark .navbar-nav .nav-link.active {
//   color: $lightpink !important;
// }

// .navbar-dark .navbar-nav .nav-link:hover {
//   color: $cyan !important;
// }


$navbar-bg: $white !default;
$navbar-fg: $black !default;

// .navbar{
//   background:linear-gradient(to right, $indigo, $purple)
// }
// Pagination

$pagination-hover-color: $white !default;
$pagination-hover-bg: $primary !default;
$pagination-hover-border-color: $primary !default;

/*-- scss:rules --*/

// Variables

$web-font-path: "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" !default;

@if $web-font-path {
  @import url($web-font-path);
}

// Typography

body {
  -webkit-font-smoothing: antialiased;
  color: black;
}

div.quarto-post a {
  color: inherit;
}

a {
  color: $indigo;
  text-decoration: none;
  //text-decoration-color: $coral;
  // text-decoration-thickness: 2px;
  // text-underline-offset: 0.0625em;
  transition: color .2s;
  display: inline-block;
  position: relative;
}

:not(.metadata):not(.card-img-top):not(.buy-coffee-btn):not(.quarto-category):not(.nav-item):not(.navbar-brand-container):not(.about-links)>a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background-color: $blue;
  bottom: 4px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

:not(.metadata):not(.card-img-top):not(.buy-coffee-btn):not(.quarto-category):not(.nav-item):not(.navbar-brand-container):not(.about-links)>a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

a sup {
  color: $indigo;
}

// Navbar

.bg-dark {
  background-color: $black !important;
}

.bg-light {
  background-color: $white !important;
  color: $black;
  border: 1px solid $gray-200;

  &.navbar-fixed-top {
    border-width: 0 0 1px;
  }

  &.navbar-fixed-bottom {
    border-width: 1px 0 0;
  }
}

.navbar {
  font-family: $headings-font-family;
}

.navbar-brand {
  padding-top: .5rem;
  font-size: inherit;
  font-weight: $headings-font-weight;
}

.navbar {
  border-width: 2px;
  border-style: solid;
  border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;

  &.fixed-top {
    border-radius: 0 25px 225px 0/25px 0 25px 255px;
    border-width: 0 0 2px;
  }

  &.fixed-bottom {
    border-radius: 255px 25px 0 25px/25px 225px 25px 0;
    border-width: 2px 0 0;
  }

  &-brand {
    font-family: $headings-font-family;
    font-weight: 400;
    text-decoration: none;
  }
}

// Buttons

.btn {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;

  &-secondary,
  &-warning {
    color: $white;
  }
}

// Listing

div.quarto-post .thumbnail img {
  border-radius: .25rem;
}

// Navs

.pagination {
  a:hover {
    text-decoration: none;
  }
}

.quarto-figure-center>figure>figcaption {
  text-align: center;
}

.twitter-tweet {
  margin: auto;
}

.description {
  font-size: 16px;
}

.quarto-title-meta {
  font-size: 14px;
}

.quarto-title .quarto-categories .quarto-category {
  font-size: 10px;
}

#title-block-header {
  margin-block-end: 3rem;
}

.quarto-listing-default {
  margin-top: 2em;
}

.listing-title,
.listing-description {
  font-size: 16px;
}


// Code cells & outputs

.cell {
  margin-bottom: 1rem;
}

.cell>.sourceCode {
  margin-top: 0;
  margin-bottom: 0;
}

.cell-output>pre {
  margin-bottom: 0;
}

.cell-output>pre,
.cell-output>.sourceCode>pre,
.cell-output-stdout>pre {
  margin-left: 0.8rem;
  margin-top: 0;
  background: none;
  border-left: 2px solid $coral;
  border-radius: 0;
}

.cell-output>.sourceCode {
  border: none;
}

.cell-output>.sourceCode {
  background: none;
  margin-top: 0;
}

/* show_doc signature */
blockquote>pre {
  font-size: 14px;
}

.table {
  font-size: 16px;
  /* disable striped tables */
  --bs-table-striped-bg: var(--bs-table-bg);
}

.quarto-figure-center>figure>figcaption {
  text-align: center;
}

.figure-caption {
  font-size: 75%;
  font-style: italic;
}

// Text

h1 {
  margin-bottom: 1rem;
  font-size: 22px;
  font-weight: bold;
}

// h1,
// .h1,
// h2,
// .h2 {
//   margin: 0;
// }

#title-block-header.quarto-title-block.default .description,
#title-block-header.quarto-title-block.default .abstract {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-bottom: none;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 991.98px) {

  #quarto-content section:first-of-type h2:first-of-type,
  #quarto-content section:first-of-type .h2:first-of-type {
    margin-top: 2rem;
  }
}

h2 img {
  display: none;
}

h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: bold;
}

h4 {
  font-size: 16cpx;
  font-weight: bold;
  margin-bottom: 1em;
}

kbd {
  padding: 0.1rem;
}

nav ul li img,
p img {
  border-radius: 0.25rem;
}

// main ol ol, main ul ul, main ol ul, main ul ol { margin-top: 0; margin-bottom: 0; }

$colors: (
  "coral": $coral,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "blue": $blue,
  "lightpink": $lightpink
);

@each $k,
$v in $colors {
  .hl-#{$k} {
    background-color: #{$v}7F; // 7F = 50% opacity, via https://stackoverflow.com/a/8254129
    border-radius: 0.25rem;
    padding: 2px 0;
  }
}

// Useful to visualise in Quarto:
// [coral]{.hl-coral}<br>
// [indigo]{.hl-indigo}<br>
// [purple]{.hl-purple}<br>
// [pink]{.hl-pink}<br>
// [red]{.hl-red}<br>
// [orange]{.hl-orange}<br>
// [yellow]{.hl-yellow}<br>
// [green]{.hl-green}<br>
// [teal]{.hl-teal}<br>
// [cyan]{.hl-cyan}<br>

// Other

.me {
  text-align: center;
}

.me img {
  max-width: 200px;
}

@media(min-width:640px) {
  .me {
    float: right;
    padding-left: 20px;
  }
}

.callout.callout-style-default {
  border-top: none;
  border-bottom: none;
  border-right: none;
}

.callout.callout-style-default:not(.no-icon) div.callout-icon-container {
  padding-right: 0.5em;
}

.callout {
  padding: 0.5em;
}

.callout.callout-titled>.callout-header {
  margin-bottom: 1em;
}

div.callout-note.callout-style-default>.callout-header,
div.callout-warning.callout-style-default>.callout-header,
div.callout-important.callout-style-default>.callout-header,
div.callout-tip.callout-style-default>.callout-header {
  background-color: transparent;
}

div.callout-note.callout {
  border-left-color: #{$info}7F; // 7F = 50% opacity, via https://stackoverflow.com/a/8254129
  background-color: #{$info}19; // 19 = 10% opacity, via https://stackoverflow.com/a/8254129
}

div.callout-warning.callout {
  border-left-color: #{$warning}7F; // 7F = 50% opacity, via https://stackoverflow.com/a/8254129
  background-color: #{$warning}19; // 19 = 10% opacity, via https://stackoverflow.com/a/8254129
}

div.callout-important.callout {
  border-left-color: #{$danger}7F; // 7F = 50% opacity, via https://stackoverflow.com/a/8254129
  background-color: #{$danger}19; // 19 = 10% opacity, via https://stackoverflow.com/a/8254129
}

div.callout-tip.callout {
  border-left-color: #{$success}7F; // 7F = 50% opacity, via https://stackoverflow.com/a/8254129
  background-color: #{$success}19; // 19 = 10% opacity, via https://stackoverflow.com/a/8254129
}

// Make listings metadata fit content
div.quarto-post .metadata {
  flex-basis: auto;
}

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65, 0, .076, 1)) {
  transition: $property $duration $ease;
}


.navbar-toggler-icon {
  width: 1em;
  height: 1em;
}

.card {
  transition: box-shadow .4s ease-out;
  border-color: $coral;
}

.card:hover {
  box-shadow: 1px 8px 20px $coral;
  transition: box-shadow .4s ease-in;
  border-color: rgba($coral, 0.2);
}

.card-header {
  background-color: rgba($coral, 0.2);
}

/* Set 2 columns for mobile devices */
@media (max-width: 991.98px) {
  .note-filter-grid {
    --bs-columns: 2;
  }
}

/* Don't write about link text on mobile devices */
@media (max-width: 991.98px) {
  .about-link-text {
    display: none !important;
  }

  .about-links {
    display: block !important;
  }

  .about-link {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
}

/* Set 3 columns for desktop devices */
@media (min-width: 991.98px) {
  .note-filter-grid {
    --bs-columns: 3;
  }
}

.listing-category,
.quarto-category {
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.listing-category:before,
.quarto-category:before,
.about-link:before {
  content: '';
  background: linear-gradient(45deg, rgba(#ff0000, 0.2), rgba(#ff7300, 0.2), rgba(#fffb00, 0.2), rgba(#48ff00, 0.2), rgba(#00ffd5, 0.2), rgba(#002bff, 0.2), rgba(#7a00ff, 0.2), rgba(#ff00c8, 0.2), rgba(#ff0000, 0.2));
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.listing-category:active:after,
.quarto-category:active:after .about-link:active:after {
  background: transparent;
}

.listing-category:hover:before,
.quarto-category:hover:before,
.about-link:hover:before {
  opacity: 1;
}

.listing-category:after,
.quarto-category:after,
.about-link:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}


.category:hover {
  background-color: rgba($purple, 0.35);
  transition: background-color 0.5s ease-in-out;
}

.category.active {
  background-color: rgba($indigo, 0.5);
  color: $black;
  font-weight: 450;
}

.about-entity .quarto-title-block .quarto-title-meta {
  display: none !important;
}

.anchorjs-link {
  display: inline-block !important;
}

@media (max-width: 991.98px) {
  .about-contents
  {
    display: none;
  }
}



//EDUCATION

.edu-card {
  border-radius: 5px 5px 5px 5px/25px 25px 25px 5px;
  background-color: #fff;
  box-shadow: 1px 1px 0 $purple;
  padding: 8px;
  max-width: 600px;
  /* assuming extra-large is 600px */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border-width: 2px;
  border-color: $lightpurple;
  border-bottom-width: 2px;
}


.edu-text-header {
  border-top: 2px solid $indigo;
  border-bottom: 2px solid $indigo;
  text-align: center;
}

.edu-list {
  font-family: monospace;
  font-size: 20px;
}

dl.edu-list .edu-list-item {
  display: flex;
  margin: 5px 0px 5px 0px;
}

dl.edu-list dt {
  flex: 0 1 auto;
  margin: 0px 0px 0px 0px;
  order: 1;
  font-weight: 500;
  font-family: $font-family-sans-serif;
  font-size: medium;
}

dl.edu-list .edu-list-item:after {
  // dotted line
  background-image: radial-gradient(circle, rgba($indigo, 1) 0%, rgba($indigo, 1) 24%, rgba($verylightpurple, 0) 25%, rgba($verylightpurple, 0) 100%);
  background-size: .5em .5rem;
  background-repeat: repeat-x;
  background-position: left bottom;
  content: "";
  display: block;
  flex: 1 1 auto;
  margin: 0px 12px 5px 12px;
  order: 2;
}

dl.edu-list dd {
  flex: 0 1 auto;
  margin: 0px 0px 0px 0px;
  order: 3;
  font-family: monospace;
  font-size: large;
}

.edu-list-item-desc {
  font-size: medium;
  font-family: $font-family-sans-serif;
}



//EXPERIENCE

.exp-timeline .exp-event:before {
  font-family: monospace;
}

.exp-timeline {
  border-left: 3px solid $blue;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba($indigo, 0.02);
  position: relative;
  padding: 50px;
  list-style: none;
  text-align: left;
  max-width: 98%;
}

@media (min-width: 769px) {
  .exp-timeline {
    margin-left: 125px;
    padding: 10px 25px;
  }
}

@media (max-width: 768px) {
  .exp-timeline {
    max-width: 98%;
    padding: 10px 25px;
  }
}


.exp-timeline .exp-event {
  position: relative;
}

@media (max-width: 768px) {
  .exp-timeline .exp-event {
    padding-top: 30px;
  }
}

.exp-timeline .exp-event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.exp-timeline .exp-event:before,
.exp-timeline .exp-event:after {
  position: absolute;
  display: block;
  top: 0;
}

.exp-timeline .exp-event:before {
  left: -207px;
  content: attr(data-date);
  text-align: right;
  min-width: 120px;
}

@media (max-width: 768px) {
  .exp-timeline .exp-event:before {
    left: 0px;
    text-align: left;
  }
}

.exp-timeline .exp-event:after {
  -webkit-box-shadow: 0 0 0 3px rgba($indigo, 0.5);
  box-shadow: 0 0 0 3px rgba($indigo, 0.5);
  left: -31px;
  background: $white;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  content: "";
  top: 5px;
}

@media (max-width: 768px) {
  .exp-timeline .exp-event:after {
    left: -31.8px;
  }
}

.rtl .exp-timeline {
  border-left: 0;
  text-align: right;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-right: 3px solid rgba($indigo, 0.5);
}

.rtl .exp-timeline .exp-event::before {
  left: 0;
  right: -170px;
}

.rtl .exp-timeline .exp-event::after {
  left: 0;
  right: -55.8px;
}

//Research interests

.resint_card {
  border-radius: 16px;
  box-shadow: 0 1px 2px 0 rgba($purple, 0.4);
  position: absolute;
  transition: all ease-in 0.3s;
  height: 35vw;
  width: 24.8vw;
  max-height: 350px;
  max-width: 248px;
}

.resint_card-set-methods {
  background: $verylightpurple;
}

.resint_card-set-areas {
  background: $verylightpink;
}

.resint_card-resint_card1 {
  box-shadow:
    0 1px 2px 0 rgba($gray-400, 0.4),
    0 4px 12px 0 rgba($gray-400, 0.4);
  color: $purple;
}

.resint_card-resint_card2 {
  color: $indigo;

  .resint_card__value {
    transform: translateX(-2px);
  }

  .resint_card__suit {
    margin-top: 0.8rem;
  }
}

.resint_card-resint_card3 {
  color: $purple;

  .resint_card__suit {
    margin-top: 0.8rem;
  }
}

.resint_card-resint_card4 {
  color: $indigo;

  .resint_card__suit {
    margin-top: 0.7rem;
  }
}

.resint_card__face {
  padding: 0.8rem 0.6rem;
  position: absolute;
  transform: rotate(90deg);
}

.card4_category {
  margin-left: 70%;
  margin-top: 95%;
  transform: rotate(-90deg);
  color: $coral;
}

.resint_card__value {
  display: block;
  text-align: center;
  width: 22px;
}

.resint_card__suit {
  display: block;
  margin-top: 0.5rem;
}

div.perspective {
  // height: 100vh;
  perspective: 2000px;
  position: relative;
}

.resint_card-container {
  // cursor: pointer;
  left: 50%;
  position: absolute;
  top: 20%;
  transform: rotateX(35deg) translate3d(-50%, -50%, 0);
  height: 35vw;
  width: 24.8vw;
  max-height: 350px;
  max-width: 248px;
}


.resint_card-resint_card1 {
  transform: rotate(-31deg) translate3d(-50%, -10%, 0);
}

.resint_card-resint_card2 {
  transform: rotate(-31deg) translate3d(-49.5%, -10.5%, 0);
}

.resint_card-resint_card3 {
  transform: rotate(-31deg) translate3d(-49%, -11%, 0);
}

.resint_card-resint_card4 {
  transform: rotate(-31deg) translate3d(-48.5%, -11.5%, 0);
}

.resint_card-container.spread {
  .resint_card-resint_card1 {
    transform: rotate(-31deg) translate3d(-50%, -10%, 0);
    box-shadow:
      0 1px 2px 0 rgba($gray-400, 0.4),
      0 4px 12px 0 rgba($gray-400, 0.4);
  }

  .resint_card-resint_card2 {
    transform: rotate(-15deg) translatex(-22%);
    box-shadow:
      0 1px 2px 0 rgba($gray-400, 0.4),
      0 2px 6px 0 rgba($gray-400, 0.4);
  }

  .resint_card-resint_card3 {
    transform: rotate(5.8deg) translatex(10%);
    box-shadow:
      0 1px 2px 0 rgba($gray-400, 0.4),
      0 2px 4px 0 rgba($gray-400, 0.4);
  }

  .resint_card-resint_card4 {
    transform: rotate(22.5deg) translate3d(40%, -5%, 0);
    box-shadow:
      0 1px 2px 0 rgba($gray-400, 0.4),
      0 2px 4px 0 rgba($gray-400, 0.4);
  }
}

@media (max-width: 768px) {
  .ri-grid {
    --bs-columns: 1;
  }

  div.perspective {
    aspect-ratio: 2/1;
    padding-top: 20%;
  }

  .resint_card-container {
    // cursor: pointer;
    left: 50%;
    position: absolute;
    top: 30%;
  }
}

@media (min-width: 769px) {
  .ri-grid {
    --bs-columns: 2;
  }

  div.perspective {
    aspect-ratio: 1/1;
  }

  .resint_card-container {
    // cursor: pointer;
    left: 50%;
    position: absolute;
    top: 30%;
    height: 25vw;
    width: 17.8vw;
    max-height: 250px;
    max-width: 178px;
  }

  .resint_card {
    height: 25vw;
    width: 17.8vw;
    max-height: 250px;
    max-width: 178px;
  }
}

//NEWS

/* list styles */

.news-ol {
  list-style: none;
}

.news-li {
  position: relative;
}

.news-p {
  padding-left: 100px;
}

.news-span {
  position: absolute;
  font-weight: 600;
  color: rgba($blue, .7);
  margin-top: 5px;
  font-family: monospace;
}

@media (max-width: 768px) {
  .news-span {
    position: relative;
  }

  .news-p {
    padding-left: 0px;
  }
}



//NOTES
$deg: -86deg;
$trans: all 0.4s ease 0s;

.notes-detail-list-img {
  padding: 0em;
  margin: 0;
}

.notes-detail-list-img .quarto-post {
  margin: 0em;
  cursor: pointer;
}

.notes-detail-list-img-entity {
  margin: 1.5em 0 0.5em;
  padding: 0.73em;
  box-shadow: 5px 5px 1px $verylightpink;
  position: relative;
  list-style: none;
  display: inline-block;
  transform: scale(0.85);
  transition: $trans;
}

.notes-detail-list-img-note:nth-of-type(even) .notes-detail-list-img-entity {
  text-align: right;
  box-shadow: -5px 5px 1px $verylightpink;
}

.notes-detail-list-img-note:nth-of-type(even)>li>div.notes-detail-list-img-description>.listing-categories {
  justify-content: right;
}

.notes-detail-list-img-note:nth-of-type(even) .notes-detail-list-img-entity:hover {
  text-align: right;
  box-shadow: -5px 5px 1px $lightpink;
}

.notes-detail-list-img-thumb {
  width: 13vmin;
  height: 13vmin;
  float: left;
  margin-right: 1.25em;
  background: linear-gradient($deg,
      $lightpurple 0 70%,
      $lightpink 0% 100%);
  transform: rotate(-4deg);
  transition: $trans;
  border-radius: 0.25em;
  overflow: hidden;
  margin-left: -3em;
  padding: 0.5em;
}

.notes-detail-list-img-note:nth-of-type(even) .notes-detail-list-img-entity .notes-detail-list-img-thumb {
  --deg: 86deg;
  float: right;
  margin-left: 2em;
  margin-right: -3em;
  transform: rotate(4deg);
}

.notes-detail-list-img-thumb img {
  width: 100%;
  height: 100%;
  border-radius: 0.25em;
  filter: grayscale(1);
  background: $purple;
}

.notes-detail-list-img-entity:hover {
  transform: scale(0.9);
  transition: $trans;
  box-shadow: 5px 5px 2px $lightpink;
}

.notes-detail-list-img-entity:hover .notes-detail-list-img-thumb,
.notes-detail-list-img-note:nth-of-type(even):hover .notes-detail-list-img-entity .notes-detail-list-img-thumb {
  padding: 0.1em;
  transition: $trans;
  transform: rotate(-1deg);
  --deg: -89deg;
}

.notes-detail-list-img-entity:hover .notes-detail-list-img-thumb img {
  filter: none;
  transition: $trans;
}

.notes-detail-list-img-description p {
  padding: 0 2em;
  margin-bottom: 1em;
}

.notes-detail-list-img-title {
  background: $purple;
  display: inline;
  transform: rotate(-2deg);
  position: absolute;
  margin: 10px;
  margin-top: -2.25em;
  left: 9vmin;
  padding: 0.25em 0.5em;
  color: $verylightpink;
  border-radius: 0.25em;
  transform-origin: left bottom;
}

@media (max-width: 768px){
  .notes-detail-list-img-title{
    display: none;
  }
}

.notes-detail-list-img-note:nth-of-type(even) .notes-detail-list-img-entity h5 {
  left: inherit;
  right: 9vmin;
  transform: rotate(2deg);
  transform-origin: right bottom;
}

.notes-detail-list-img-entity:hover h5,
.notes-detail-list-img-note:nth-of-type(even) .notes-detail-list-img-entity:hover h5 {
  transition: $trans;
  transform: rotate(0deg);
  background: rgba($pink, 0.7)
}

.notes-detail-list-img-date:after {
  content: attr(data-content-date);
  font-family: monospace;
  font-size: smaller;
  position: absolute;
  top: -1.5em;
  background: $lightpink;
  right: 4em;
  transform: rotate(3deg);
  padding: 0.35em 0.75em 0.5em;
  border-radius: 0.25em;
  color: $purple;
  font-weight: bold;
}

.notes-detail-list-img-note:nth-of-type(even) .notes-detail-list-img-date:after {
  right: inherit;
  left: 4em;
  transform: rotate(-3deg);
}

.notes-detail-list-img-description a {
  font-size: small;
  display: inline-block !important;
  margin: 0.5em 0 0 0 !important;
  background: $indigo !important;
  color: $white !important;
  padding: 0.1em 0.5em 0.35em !important;
  border-radius: 0.5em !important;
  text-decoration: none !important;
  transition: $trans !important;
}

.notes-detail-list-img-description a img {
  float: left;
  width: 22px;
  filter: invert(1);
  border-radius: 0.15em;
  padding: 2px;
  background: #fff;
  margin-right: 2px;
}

.notes-detail-list-img .quarto-post {
  border: none;
}

@media (max-width: 768px) {
  .notes-detail-list-img-date:after {
    right: 0.2em;
  }

  .notes-detail-list-img-note:nth-of-type(even) .notes-detail-list-img-date:after {
    left: 0.2em;
  }

  .notes-detail-list-img .quarto-post {
    padding-bottom: 0em;
  }
}

//PAPERS

.papers-card {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all .35s ease;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
  }

  &::before {
    width: 0;
    opacity: 0;
    transition: opacity 0 ease, width 0 ease;
    transition-delay: .5s;
  }

  &::after {
    width: 100%;
    transition: width .5s ease;
  }

  .papers-main-content {
    max-width: 96%;
  }

  .papers-hover_content {
    overflow: hidden;
    max-height: 0;
    transform: translateY(1em);
    transition: all .55s ease;

    p {
      margin-top: 0.75em;
      margin-bottom: 0.75em;
    }
  }

  &:hover {
    box-shadow: 0 10px 20px 0 rgba($blue, .12);

    padding-top: .75em;
    padding-bottom: .5em;

    .papers-hover_content {
      padding-bottom: 0.75em;
    }

    // .papers-main-display-date-publisher-in-text {
    //   visibility: hidden;
    // }

    .papers-main-metadata-display-date,
    .papers-main-metadata-publisher {
      visibility: visible;
    }

    &::before {
      opacity: 1;
      transition: opacity .5s ease, width .5s ease;
      transition-delay: 0;
    }

    &::after {
      width: 0;
      opacity: 0;
      transition: width 0 ease;
    }

    .papers-hover_content {
      max-height: 50em;
      transform: none;
      transition: height 50em ease;
    }
  }
}

.papers-main-metadata-display-date,
.papers-main-metadata-publisher {
  font-family: monospace;
  font-size: small;
  font-weight: bold;
  position: absolute;
  top: -1.5em;
  background: $lightpink;
  transform: rotate(3deg);
  padding: 0.35em 0.75em 0.5em;
  border-radius: 0.25em;
  color: $purple;
  z-index: 3;
  visibility: hidden;
}

.papers-main-metadata-publisher {
  background: $verylightpurple;
  left: 2em;
  transform: rotate(-3deg);
}

.papers-main-metadata-display-date {
  right: 2em;
}

.papers-main-authors,
.papers-main-display-date-publisher-in-text {
  font-size: small;
  margin: 0px;
}

.papers-main-title {
  margin: 0px;
}


#listing-rpapers>div.list.quarto-listing-custom>.quarto-post {
  padding-bottom: 0em;
}

div.papers-back-links>a {
  font-size: small;
  display: inline-block !important;
  margin: 0.5em 0 0 0 !important;
  background: $indigo !important;
  color: $white !important;
  padding: 0.1em 0.5em 0.35em !important;
  border-radius: 0.5em !important;
  text-decoration: none !important;
  transition: $trans !important;
}


//PROFILE CARD
.small-profile-card {
  max-width: 340px;
  margin: auto;
  overflow-y: auto;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  background-color: $white;
  display: flex;
  //transition: 0.3s;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 0 8px rgba($white, 0.2);
}

.small-profile-card[small-profile-data-state="#small-profile-about"] {
  height: 550px;

  .card-main {
    padding-top: 0;
  }
}

.small-profile-card[small-profile-data-state="#small-profile-research"] {
  height: 550px;
}

.small-profile-card[small-profile-data-state="#small-profile-experience"] {
  height: 550px;
}

.small-profile-card.small-profile-is-active {
  .small-profile-card-header {
    height: 80px;
  }

  .small-profile-card-cover {
    height: 100px;
    top: -50px;
  }

  .small-profile-card-avatar {
    transform: none;
    left: 20px;
    width: 50px;
    height: 50px;
    bottom: 10px;
  }

  .small-profile-card-fullname,
  .small-profile-card-jobtitle {
    left: 86px;
    transform: none;
  }

  .small-profile-card-fullname {
    bottom: 18px;
    font-size: medium;
  }

  .small-profile-card-jobtitle {
    bottom: 16px;
    letter-spacing: 1px;
    font-size: smaller;
  }
}

.small-profile-card-header {
  position: relative;
  display: flex;
  height: 200px;
  flex-shrink: 0;
  width: 100%;
  // transition: 0.1s;

  // * {
  //   transition: 0.3s;
  // }
}

.small-profile-card-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  height: 160px;
  top: -20%;
  left: 0;
  will-change: top;
  background-size: cover;
  background-position: center;
  filter: blur(30px);
  transform: scale(1.2);
  transition: 0.5s;
}

.small-profile-card-avatar {
  width: 125px;
  height: 125px;
  box-shadow: 0 8px 8px rgba($black, 0.2);
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-64px);
}

.small-profile-card-fullname {
  position: absolute;
  bottom: 0;
  font-size: medium;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  transform: translateY(-10px) translateX(-50%);
  left: 50%;
}

.small-profile-card-jobtitle {
  position: absolute;
  bottom: 0;
  font-size: smaller;
  white-space: nowrap;
  font-weight: 500;
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-7px);
}

.small-profile-card-main {
  position: relative;
  flex: 1;
  display: flex;
  padding-top: 10px;
  flex-direction: column;
}

.small-profile-card-subtitle {
  font-weight: 700;
  font-size: smaller;
  margin-bottom: 8px;
}

.small-profile-card-content {
  padding: 20px;
}

.small-profile-card-desc {
  line-height: 1.6;
  color: $blue;
  font-size: smaller;
  margin: 0;
  font-weight: 400;
}

.small-profile-card-buttons {
  display: flex;
  background-color: $white;
  margin-top: auto;
  position: sticky;
  bottom: 0;
  left: 0;

  button {
    flex: 1 1 auto;
    user-select: none;
    background: 0;
    font-size: smaller;
    border: 0;
    padding: 15px 5px;
    cursor: pointer;
    color: $gray-700;
    transition: 0.3s;
    font-weight: 500;
    outline: 0;
    border-bottom: 3px solid transparent;

    &.small-profile-is-active,
    &:hover {
      color: $blue;
      border-bottom: 3px solid $lightpurple;
      background: linear-gradient(to bottom,
          rgba($white, 0) 0%,
          rgba($verylightpink, 0.2) 44%,
          rgba($verylightpurple, 0.4) 100%);
    }
  }
}

.small-profile-card-section {
  display: none;

  &.small-profile-is-active {
    display: block;
    //animation: fadeIn 0.6s both;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translatey(40px);
  }

  100% {
    opacity: 1;
  }
}

.small-profile-card-timeline {
  margin-top: 30px;
  position: relative;

  &:after {
    background: linear-gradient(to top,
        rgba($verylightpurple, 0) 0%,
        rgba($purple, 1) 100%);
    content: "";
    left: 46px;
    width: 2px;
    top: 0;
    height: 100%;
    position: absolute;
    content: "";
  }
}

.small-profile-card-item {
  position: relative;
  padding-left: 65px;
  padding-right: 20px;
  padding-bottom: 5px;
  z-index: 1;
  padding-top: 0px;

  &:last-child {
    padding-bottom: 5px;
  }

  &:after {
    content: attr(small-profile-data-year);
    word-wrap: break-word;
    width: 10px;
    position: absolute;
    top: 0;
    left: 43px;
    width: 8px;
    height: 8px;
    line-height: 0.6;
    border: 2px solid $white;
    font-size: small;
    text-indent: -80px;
    text-align: center;
    border-radius: 50%;
    color: rgba($gray-600, 0.7);
    background: linear-gradient(to bottom,
        lighten($blue, 20%) 0%,
        $indigo 100%);
  }
}

.small-profile-card-item-title {
  font-weight: 500;
  font-size: smaller;
  margin-bottom: 5px;
}

.small-profile-card-item-desc {
  font-size: small;
  color: $gray-700;
  line-height: 1.5;
}

.small-profile-card-research-wrapper {
  margin-top: 20px;
}

.small-profile-card-research {
  display: flex;
  align-items: center;
  font-size: smaller;
  color: $gray-700;
  line-height: 1.6;
  text-align: left;
  justify-content: space-between;

  &+& {
    margin-top: 6px;
  }

}

#quarto-document-content > div.quarto-about-trestles > div.about-entity
{
  padding: 0em;
}
//hide quick navbar on bigger devices
@media (min-width: 769px) {
  .mob-quick-nav {
    display: none;
  }
} 

//AIMING TO FIX FUDGING TAGS
.quarto-title .quarto-categories {
  display: flex;
  flex-wrap: wrap;
  row-gap: .5em;
  column-gap: .4em;
  padding-bottom: .5em;
  margin-top: .75em
}

.quarto-title .quarto-categories .quarto-category {
  padding: .25em .75em;
  font-size: .65em;
  text-transform: uppercase;
  border: solid 1px;
  border-radius: .25rem;
  opacity: .6
}

.quarto-title .quarto-categories .quarto-category a {
  color: inherit;
}


#title-block-header.quarto-title-block.default .quarto-title-meta {
  display: grid;
  grid-template-columns: repeat(2, 1fr)
}






















// Dropdowns

$dropdown-link-color: $gray-600 !default;
$dropdown-link-hover-color: $dropdown-link-color !default;
$dropdown-link-hover-bg: $gray-200 !default;
$dropdown-link-active-color: $dropdown-link-color !default;
$dropdown-link-active-bg: $dropdown-link-hover-bg !default;

// Navs

$nav-link-padding-x: .9rem !default;
$nav-link-disabled-color: $gray-300 !default;
$nav-tabs-border-color: $gray-300 !default;
$nav-tabs-link-hover-border-color: $gray-300 !default;
$nav-tabs-link-active-bg: $white !default;
$nav-pills-link-active-color: $gray-600 !default;
$nav-pills-link-active-bg: $gray-200 !default;


// Pagination

$pagination-color: $gray-600 !default;
$pagination-bg: $gray-200 !default;
$pagination-border-color: $gray-300 !default;
$pagination-hover-color: $pagination-color !default;
$pagination-active-color: $pagination-color !default;
$pagination-active-bg: $gray-300 !default;
$pagination-active-border-color: $gray-300 !default;
$pagination-disabled-color: $gray-300 !default;
$pagination-disabled-bg: $gray-200 !default;
$pagination-disabled-border-color: $pagination-border-color !default;

// Cards

$card-border-color: rgba($gray-300, .75) !default;
$card-cap-bg: rgba($gray-200, .25) !default;

// Popovers

$popover-header-bg: $gray-200 !default;

// Modals

$modal-content-border-color: $gray-300 !default;
$modal-header-border-color: $modal-content-border-color !default;

// Progress bars

$progress-bg: $gray-300 !default;
$progress-border-radius: 10px !default;
$progress-bar-color: $primary !default;

// List group

$list-group-border-color: $gray-300 !default;
$list-group-hover-bg: $gray-200 !default;
$list-group-active-color: $body-color !default;
$list-group-active-bg: $gray-200 !default;
$list-group-active-border-color: $gray-300 !default;
$list-group-disabled-color: $gray-500 !default;
$list-group-disabled-bg: $white !default;
$list-group-action-color: $list-group-active-color !default;
$list-group-action-active-color: $list-group-active-color !default;
$list-group-action-active-bg: $gray-300 !default;

// Breadcrumbs

$breadcrumb-padding-y: .375rem !default;
$breadcrumb-padding-x: .75rem !default;
$breadcrumb-bg: $pagination-bg !default;
$breadcrumb-border-radius: .25rem !default;

// Close

$btn-close-color: $white !default;
$btn-close-opacity: .8 !default;
$btn-close-hover-opacity: 1 !default;



/*-- scss:rules --*/


// Variables

// Navbar

.bg-primary {
  background-color: $dark !important;
}

.bg-dark {
  background-color: $secondary !important;
}

.bg-light {
  background-color: $gray-200 !important;
}

.sandstone {
  font-size: smaller;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

.navbar {
  .nav-link {
    @extend .sandstone;
  }

  &-form input,
  &-form .form-control {
    border: none;
  }
}

// Buttons

.btn {
  @extend .sandstone;

  &:hover {
    border-color: transparent;
  }

  &-success,
  &-warning {
    color: $white;
  }
}

// Tables

.table {
  .thead-dark th {
    background-color: $dark;
  }
}

// Forms

input,
.form-control {
  @include box-shadow(none);

  &:focus {
    @include box-shadow(none);
  }
}

// Navs

.nav-tabs {
  .nav-link {
    @extend .sandstone;
    background-color: $gray-200;
    border-color: $gray-300;
  }

  .nav-link,
  .nav-link:hover,
  .nav-link:focus {
    color: $gray-600;
  }

  .nav-link.disabled,
  .nav-link.disabled:hover,
  .nav-link.disabled:focus {
    background-color: $gray-200;
    border-color: $gray-300;
    color: $nav-link-disabled-color;
  }
}

.nav-pills {
  .nav-link {
    @extend .sandstone;
    border: 1px solid transparent;
    color: $gray-600;
  }

  .nav-link.active,
  .nav-link:hover,
  .nav-link:focus {
    background-color: $gray-200;
    border-color: $gray-300;
  }

  .nav-link.disabled,
  .nav-link.disabled:hover {
    background-color: transparent;
    border-color: transparent;
    color: $gray-300;
  }
}


.breadcrumb {
  @extend .sandstone;
  border: 1px solid $gray-300;
}

.pagination {
  @extend .sandstone;

  a:hover {
    text-decoration: none;
  }
}

.dropdown-menu {
  .dropdown-item {
    @extend .sandstone;
  }
}

// Indicators

.alert {
  color: $white;

  a,
  .alert-link {
    color: $white;
    text-decoration: underline;
  }

  &-primary {

    &,
    >th,
    >td {
      background-color: $primary;
    }
  }

  &-secondary {

    &,
    >th,
    >td {
      background-color: $secondary;
    }
  }

  &-success {

    &,
    >th,
    >td {
      background-color: $success;
    }
  }

  &-info {

    &,
    >th,
    >td {
      background-color: $info;
    }
  }

  &-danger {

    &,
    >th,
    >td {
      background-color: $danger;
    }
  }

  &-warning {

    &,
    >th,
    >td {
      background-color: $warning;
    }
  }

  &-dark {

    &,
    >th,
    >td {
      background-color: $dark;
    }
  }

  &-light {

    &,
    >th,
    >td {
      background-color: $light;
    }

    &,
    a:not(.btn),
    .alert-link {
      color: $body-color;
    }
  }
}

.badge {
  &.bg-light {
    color: $dark;
  }
}

.tooltip {
  @extend .sandstone;
}

// Containers

.modal,
.toast {
  .btn-close {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23dfd7ca'><path d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/></svg>");
  }
}