/*-- scss:defaults --*/

$theme: "quarto_mod" !default;

// Colors

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #eee !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #aaa !default;
$gray-600: #777 !default;
$gray-700: #495057 !default;
$gray-800: #333 !default;
$gray-900: #222 !default;
$black:    #000 !default;

$coral:   #932c28 !default;
$indigo:  #6429c2 !default;
$purple:  #6e5c8f !default;
$pink:    #d26598 !default;
$red:     #e16565 !default;
$orange:  #e8a36a !default;
$yellow:  #e4de89 !default;
$green:   #55a76e !default;
$teal:    #65c4a8 !default;
$cyan:    #aac8d2 !default;
$blue:    #3a6187 !default;
$lightpink: #ecc2d5 !default;
$verylightpink: #fff5f9 !default;
$lightpurple: #f9f6ff !default;

$primary:       $purple !default;
$secondary:     $red !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $lightpurple !default;
$dark:          $blue !default;

$min-contrast-ratio:   1.28 !default;

// Fonts

$font-family-sans-serif: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-size-root: 16px !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.1 !default;

// Buttons

$input-btn-padding-x: 1rem !default;

// Navbar

$navbar-light-color: rgba($black, .7) !default;
$navbar-light-hover-color: $black !default;
$navbar-light-active-color: $black !default;

// .navbar-dark .navbar-nav .nav-link.active {
//   color: $lightpink !important;
// }

// .navbar-dark .navbar-nav .nav-link:hover {
//   color: $cyan !important;
// }


$navbar-bg: $white !default;
$navbar-fg: $black !default;

// .navbar{
//   background:linear-gradient(to right, $indigo, $purple)
// }
// Pagination

$pagination-hover-color: $white !default;
$pagination-hover-bg: $primary !default;
$pagination-hover-border-color: $primary !default;

/*-- scss:rules --*/

// Variables

$web-font-path: "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}
// Typography

body {
  -webkit-font-smoothing: antialiased;
  color: black;
}

div.quarto-post a {
  color: inherit;
}

a {
  color: $indigo;
  text-decoration: none;
  //text-decoration-color: $coral;
  // text-decoration-thickness: 2px;
  // text-underline-offset: 0.0625em;
  transition: color .2s;
  display: inline-block;
  position: relative;
}

:not(.metadata):not(.card-img-top):not(.buy-coffee-btn):not(.quarto-category):not(.nav-item):not(.navbar-brand-container):not(.about-links)> a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background-color: $blue;
  bottom: 4px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

:not(.metadata):not(.card-img-top):not(.buy-coffee-btn):not(.quarto-category):not(.nav-item):not(.navbar-brand-container):not(.about-links)> a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

a sup {
  color: $indigo;
}

// Navbar

.bg-dark { background-color: $black !important; }

.bg-light {
  background-color: $white !important;
  color: $black;
  border: 1px solid $gray-200;
  &.navbar-fixed-top { border-width: 0 0 1px; }
  &.navbar-fixed-bottom { border-width: 1px 0 0; }
}

.navbar { font-family: $headings-font-family; }

.navbar-brand {
  padding-top: .5rem;
  font-size: inherit;
  font-weight: $headings-font-weight;
}

.navbar {
  border-width: 2px;
  border-style: solid;
  border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;

  &.fixed-top {
    border-radius: 0 25px 225px 0/25px 0 25px 255px;
    border-width: 0 0 2px;
  }

  &.fixed-bottom {
    border-radius: 255px 25px 0 25px/25px 225px 25px 0;
    border-width: 2px 0 0;
  }

  &-brand {
    font-family: $headings-font-family;
    font-weight: 400;
    text-decoration: none;
  }
}

// Buttons

.btn {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;

  &-secondary,
  &-warning { color: $white; }
}

// Listing

div.quarto-post .thumbnail img { border-radius: .25rem; }

// Navs

.pagination { a:hover { text-decoration: none; } }
.quarto-figure-center > figure > figcaption { text-align: center; }
.twitter-tweet { margin: auto; }
.description { font-size: 18px; }
.quarto-title-meta { font-size: 14px; }
.quarto-title .quarto-categories .quarto-category { font-size: 10px; }
#title-block-header { margin-block-end: 3rem; }
.quarto-listing-default { margin-top: 2em; }
.listing-title,
.listing-description
{
  font-size: 16px;
}


// Code cells & outputs

.cell {
  margin-bottom: 1rem;
}
.cell > .sourceCode { margin-top: 0; margin-bottom: 0; }
.cell-output > pre { margin-bottom: 0; }

.cell-output > pre, .cell-output > .sourceCode > pre, .cell-output-stdout > pre {
  margin-left: 0.8rem;
  margin-top: 0;
  background: none;
  border-left: 2px solid $coral;
  border-radius: 0;
}

.cell-output > .sourceCode {
  border: none;
}

.cell-output > .sourceCode {
  background: none;
  margin-top: 0;
}

/* show_doc signature */
blockquote > pre {
  font-size: 14px;
}

.table {
  font-size: 16px;
  /* disable striped tables */
  --bs-table-striped-bg: var(--bs-table-bg);
}

.quarto-figure-center > figure > figcaption {
  text-align: center;
}

.figure-caption {
  font-size: 75%;
  font-style: italic;
}

// Text

h1 {
  margin-bottom: 1rem;
  font-size: 50px;
  font-weight: bold;
}

h1, .h1, h2, .h2 {
  margin: 0;
}

#title-block-header.quarto-title-block.default .description, #title-block-header.quarto-title-block.default .abstract {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-bottom: none;
  font-size: 30px;
  font-weight: bold;
}

@media (max-width: 991.98px) {
  #quarto-content section:first-of-type h2:first-of-type, #quarto-content section:first-of-type .h2:first-of-type {
    margin-top: 2rem;
  }
}

h2 img { display: none; }

h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 20px;
  font-weight: bold;
}

h4 {
  font-size: 16px;
  margin-bottom: 1em;
}

kbd { padding: 0.1rem; }

nav ul li img, p img { border-radius: 0.25rem; }

// main ol ol, main ul ul, main ol ul, main ul ol { margin-top: 0; margin-bottom: 0; }

$colors: ("coral": $coral,
          "indigo": $indigo,
          "purple": $purple,
          "pink": $pink,
          "red": $red,
          "orange": $orange,
          "yellow": $yellow,
          "green": $green,
          "teal": $teal,
          "cyan": $cyan,
          "blue": $blue,
          "lightpink": $lightpink);
@each $k, $v in $colors {
  .hl-#{$k} {
    background-color: #{$v}7F; // 7F = 50% opacity, via https://stackoverflow.com/a/8254129
    border-radius: 0.25rem;
    padding: 2px 0;
  }
}
// Useful to visualise in Quarto:
// [coral]{.hl-coral}<br>
// [indigo]{.hl-indigo}<br>
// [purple]{.hl-purple}<br>
// [pink]{.hl-pink}<br>
// [red]{.hl-red}<br>
// [orange]{.hl-orange}<br>
// [yellow]{.hl-yellow}<br>
// [green]{.hl-green}<br>
// [teal]{.hl-teal}<br>
// [cyan]{.hl-cyan}<br>

// Other

.me {
  text-align: center;
}

.me img {
  max-width: 200px;
}

@media(min-width:640px) {
  .me {
    float: right;
    padding-left: 20px;
  }
}

.callout.callout-style-default {
  border-top: none;
  border-bottom: none;
  border-right: none;
}

.callout.callout-style-default:not(.no-icon) div.callout-icon-container {
  padding-right: 0.5em;
}

.callout {
  padding: 0.5em;
}

.callout.callout-titled>.callout-header {
  margin-bottom: 1em;
}

div.callout-note.callout-style-default>.callout-header,
div.callout-warning.callout-style-default>.callout-header,
div.callout-important.callout-style-default>.callout-header,
div.callout-tip.callout-style-default>.callout-header
{
  background-color: transparent;
}

div.callout-note.callout {
  border-left-color: #{$info}7F; // 7F = 50% opacity, via https://stackoverflow.com/a/8254129
  background-color: #{$info}19; // 19 = 10% opacity, via https://stackoverflow.com/a/8254129
}

div.callout-warning.callout {
  border-left-color: #{$warning}7F; // 7F = 50% opacity, via https://stackoverflow.com/a/8254129
  background-color: #{$warning}19; // 19 = 10% opacity, via https://stackoverflow.com/a/8254129
}

div.callout-important.callout {
  border-left-color: #{$danger}7F; // 7F = 50% opacity, via https://stackoverflow.com/a/8254129
  background-color: #{$danger}19; // 19 = 10% opacity, via https://stackoverflow.com/a/8254129
}

div.callout-tip.callout {
  border-left-color: #{$success}7F; // 7F = 50% opacity, via https://stackoverflow.com/a/8254129
  background-color: #{$success}19; // 19 = 10% opacity, via https://stackoverflow.com/a/8254129
}

// Make listings metadata fit content
div.quarto-post .metadata {
  flex-basis: auto;
}

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}


.navbar-toggler-icon
{
  width: 1em;
  height: 1em;
}

.card {
 transition:  box-shadow .4s ease-out;
 border-color: $coral;
}
.card:hover{ 
     box-shadow: 1px 8px 20px $coral;
    transition:  box-shadow .4s ease-in;
    border-color: rgba($coral,0.2);
  }
  .card-header{
    background-color: rgba($coral,0.2);
  }

/* Set 2 columns for mobile devices */
@media (max-width: 991.98px) {
  .post-filter-grid {
      --bs-columns: 2;
  }
}

/* Don't write about link text on mobile devices */
@media (max-width: 991.98px) {
  .about-link-text {
      display: none !important;
  }
  .about-links{
    display: block !important;
  }
  .about-link{
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
}

/* Set 3 columns for desktop devices */
@media (min-width: 992px) {
  .post-filter-grid {
      --bs-columns: 3;
  }
}

.listing-category,
.quarto-category {
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.listing-category:before,
.quarto-category:before,
.about-link:before {
  content: '';
  background: linear-gradient(45deg, rgba(#ff0000,0.2), rgba(#ff7300,0.2), rgba(#fffb00,0.2), rgba(#48ff00,0.2), rgba(#00ffd5,0.2), rgba(#002bff,0.2), rgba(#7a00ff,0.2), rgba(#ff00c8,0.2), rgba(#ff0000,0.2));
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.listing-category:active:after,
.quarto-category:active:after
.about-link:active:after {
  background: transparent;
}

.listing-category:hover:before,
.quarto-category:hover:before,
.about-link:hover:before {
  opacity: 1;
}

.listing-category:after,
.quarto-category:after,
.about-link:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}


.category:hover { background-color: rgba($purple,0.35); transition: background-color 0.5s ease-in-out; }

.category.active
{
  background-color: rgba($indigo,0.5); 
  color: $black;
  font-weight: 450;
}

.about-entity .quarto-title-block .quarto-title-meta
{
  display: none !important;
}
.anchorjs-link{
  display: inline-block !important;
}

//EDUCATION
.timeline-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.timeline-steps .timeline-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem
}

@media (min-width:992px) {
    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem dotted $cyan;
        width: 3.46rem;
        position: absolute;
        left: 7.5rem;
        top: .3125rem
    }
    .timeline-steps .timeline-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: .25rem dotted $blue;
        width: 3.8125rem;
        position: absolute;
        right: 7.5rem;
        top: .3125rem
    }
}

.timeline-steps .timeline-content {
    width: 10rem;
    text-align: center
}

.timeline-steps .timeline-content .inner-circle {
    border-radius: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $cyan
}

.timeline-steps .timeline-content .inner-circle:before {
    content: "";
    background-color: $purple;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 6.25rem;
    opacity: .5
}

.timeline-content .inner-circle:hover { background-color: $pink; /* replace with desired color */ }
.timeline-content .inner-circle:hover:before { animation-name: pulse; animation-duration: 1s; animation-timing-function: ease-out; animation-iteration-count: infinite; }

@keyframes pulse { 0% { transform: scale(1); } 50% { transform: scale(1.05); } 100% { transform: scale(1); } }
.timeline-content:hover { color: $indigo; /* replace with desired color */ }



//EXPERIENCE

.exp-timeline .exp-event:before{
  font-family: monospace;
}

.exp-timeline {
  border-left: 3px solid $blue;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba($indigo, 0.02);
  position: relative;
  padding: 50px;
  list-style: none;
  text-align: left;
  max-width: 98%;
}

@media (min-width: 769px) {
  .exp-timeline {
      margin-left: 125px;
      padding: 10px 25px;
  }
}

@media (max-width: 768px) {
  .exp-timeline {
      max-width: 98%;
      padding: 10px 25px;
  }
}


.exp-timeline .exp-event {
  position: relative;
}

@media (max-width: 767px) {
  .exp-timeline .exp-event {
      padding-top: 30px;
  }
}

.exp-timeline .exp-event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.exp-timeline .exp-event:before,
.exp-timeline .exp-event:after {
  position: absolute;
  display: block;
  top: 0;
}

.exp-timeline .exp-event:before {
  left: -207px;
  content: attr(data-date);
  text-align: right;
  min-width: 120px;
}

@media (max-width: 767px) {
  .exp-timeline .exp-event:before {
      left: 0px;
      text-align: left;
  }
}

.exp-timeline .exp-event:after {
  -webkit-box-shadow: 0 0 0 3px rgba($indigo,0.5);
  box-shadow: 0 0 0 3px rgba($indigo,0.5);
  left: -31px;
  background: $white;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  content: "";
  top: 5px;
}

@media (max-width: 767px) {
  .exp-timeline .exp-event:after {
      left: -31.8px;
  }
}

.rtl .exp-timeline {
  border-left: 0;
  text-align: right;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-right: 3px solid rgba($indigo,0.5);
}

.rtl .exp-timeline .exp-event::before {
  left: 0;
  right: -170px;
}

.rtl .exp-timeline .exp-event::after {
  left: 0;
  right: -55.8px;
}

//Research interests

.resint_card {
  border-radius: 16px;
  box-shadow: 0 1px 2px 0 rgba($purple,0.4);
  position: absolute;
  transition: all ease-in 0.3s;
  height: 35vw;
  width: 24.8vw;
  max-height: 350px;
  max-width: 248px;
}

.resint_card-set-methods
{
  background: $lightpurple;
}

.resint_card-set-areas
{
  background: $verylightpink;
}

.resint_card-resint_card1 {
  box-shadow:
    0 1px 2px 0 rgba($gray-400, 0.4),
    0 4px 12px 0 rgba($gray-400,0.4);
  color: $purple;
}
.resint_card-resint_card2 {
  color: $indigo;
  .resint_card__value {
    transform: translateX(-2px);
  }
  .resint_card__suit {
    margin-top: 0.8rem;
  }
}

.resint_card-resint_card3 {
  color: $purple;
  .resint_card__suit {
    margin-top: 0.8rem;
  }
}
.resint_card-resint_card4 {
  color: $indigo;
  .resint_card__suit {
    margin-top: 0.7rem;
  }
}

.resint_card__face {
  padding: 0.8rem 0.6rem;
  position: absolute;
  transform: rotate(90deg);
}
.card4_category{
  margin-left: 70%;
  margin-top: 95%;
  transform: rotate(-90deg);
  color: $coral;
}

.resint_card__value {
  display: block;
  text-align: center;
  width: 22px;
}
.resint_card__suit {
  display: block;
  margin-top: 0.5rem;
}

div.perspective {
  // height: 100vh;
  perspective: 2000px;
  position: relative;
}
.resint_card-container {
  cursor: pointer;
  left: 50%;
  position: absolute;
  top: 20%;
  transform: rotateX(35deg) translate3d(-50%,-50%,0);
  height: 35vw;
  width: 24.8vw;
  max-height: 350px;
  max-width: 248px;
}


.resint_card-resint_card1 {
  transform: rotate(-31deg) translate3d(-50%, -10%, 0);
}
.resint_card-resint_card2 {
  transform: rotate(-31deg) translate3d(-49.5%, -10.5%, 0);
}
.resint_card-resint_card3 {
  transform: rotate(-31deg) translate3d(-49%, -11%, 0);
}
.resint_card-resint_card4 {
  transform: rotate(-31deg) translate3d(-48.5%, -11.5%, 0);
}

.resint_card-container.spread {
  .resint_card-resint_card1 {
    transform: rotate(-31deg) translate3d(-50%, -10%, 0);
    box-shadow:
      0 1px 2px 0 rgba($gray-400, 0.4),
      0 4px 12px 0 rgba($gray-400, 0.4)
      ;
  }
  .resint_card-resint_card2 {
    transform: rotate(-4.5deg) translatex(-22%);
    box-shadow:
      0 1px 2px 0 rgba($gray-400, 0.4),
      0 2px 6px 0 rgba($gray-400, 0.4)
      ;
  }
  .resint_card-resint_card3 {
    transform: rotate(5.8deg) translatex(10%);
    box-shadow:
      0 1px 2px 0 rgba($gray-400, 0.4),
      0 2px 4px 0 rgba($gray-400, 0.4)
      ;
  }
  .resint_card-resint_card4 {
    transform: rotate(22.5deg) translate3d(40%, -5%, 0);
    box-shadow:
      0 1px 2px 0 rgba($gray-400, 0.4),
      0 2px 4px 0 rgba($gray-400, 0.4)
      ;
  }
}
@media (max-width: 768px) {
  .ri-grid {
      --bs-columns: 1;
  }
  div.perspective {
    aspect-ratio: 2/1;
    padding-top: 20%;
  }
  .resint_card-container {
    cursor: pointer;
    left: 50%;
    position: absolute;
    top: 30%;
  }
}
@media (min-width: 769px) {
  .ri-grid {
      --bs-columns: 2;
  }
  div.perspective {
    aspect-ratio: 1/1;
  }
  .resint_card-container {
    cursor: pointer;
    left: 50%;
    position: absolute;
    top: 30%;
    height: 25vw;
    width: 17.8vw;
    max-height: 250px;
    max-width: 178px;
  }
  .resint_card {
    height: 25vw;
    width: 17.8vw;
    max-height: 250px;
    max-width: 178px;
  }
}

//PAPERS and POSTS
.papers-posts-frontpage-box {
  width: 800px;  
  margin: 10% auto;
  position: relative;
}

#papers-posts-frontpage-card-container {
  position: relative;
  margin: 30px;
  width: 200px;
  height: 200px;
  z-index: 1;
  float: left;
  perspective: 1000px;
}

papers-img {
  width: 200px;
  height: 200px;
}

#papers-posts-frontpage-card, #papers-posts-frontpage-card2, #papers-posts-frontpage-card3 {
  width: 100%;
  height: 100%;
  margin: 10%;
  transform-style: preserve-3d;
  transition: all .8s linear;
  box-shadow: 5px 5px 15px rgba(0,0,0, .3);
}

#papers-posts-frontpage-card {
  &:hover {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 15px rgba(0,0,0, .3);
  }
}

#papers-posts-frontpage-card2 {
  &:hover {
    transform: rotateY(-180deg);
    box-shadow: -5px 5px 15px rgba(0,0,0, .3);
  }
}

#papers-posts-frontpage-card3 {
  &:hover {
    transform: rotateX(180deg);
    box-shadow: 5px -5px 15px rgba(0,0,0, .3);
  }
  .papers-back {
    transform: rotateX(-180deg);
  }
}

.papers-posts-frontpage-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.papers-posts-frontpage-back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  opacity: .7;
  background: $white;
}

.papers-posts-frontpage-date {
  color: black;
}



//NEWS

/* list styles */

.news-ol {
  list-style: none;
}

.news-li {
  position: relative;
}

.news-p {
  padding-left: 100px;
}

.news-span {
  position: absolute;
  font-weight:600;
  color: rgba($blue, .7);
  margin-top: 5px;
}

@media (max-width: 768px) {
  .news-span {
    position: relative;
  }
  .news-p {
    padding-left: 0px;
  }
}























// Dropdowns

$dropdown-link-color:               $gray-600 !default;
$dropdown-link-hover-color:         $dropdown-link-color !default;
$dropdown-link-hover-bg:            $gray-200 !default;
$dropdown-link-active-color:        $dropdown-link-color !default;
$dropdown-link-active-bg:           $dropdown-link-hover-bg !default;

// Navs

$nav-link-padding-x:                .9rem !default;
$nav-link-disabled-color:           $gray-300 !default;
$nav-tabs-border-color:             $gray-300 !default;
$nav-tabs-link-hover-border-color:  $gray-300 !default;
$nav-tabs-link-active-bg:           $white !default;
$nav-pills-link-active-color:       $gray-600 !default;
$nav-pills-link-active-bg:          $gray-200 !default;


// Pagination

$pagination-color:                  $gray-600 !default;
$pagination-bg:                     $gray-200 !default;
$pagination-border-color:           $gray-300 !default;
$pagination-hover-color:            $pagination-color !default;
$pagination-active-color:           $pagination-color !default;
$pagination-active-bg:              $gray-300 !default;
$pagination-active-border-color:    $gray-300 !default;
$pagination-disabled-color:         $gray-300 !default;
$pagination-disabled-bg:            $gray-200 !default;
$pagination-disabled-border-color:  $pagination-border-color !default;

// Cards

$card-border-color:                 rgba($gray-300, .75) !default;
$card-cap-bg:                       rgba($gray-200, .25) !default;

// Popovers

$popover-header-bg:                 $gray-200 !default;

// Modals

$modal-content-border-color:        $gray-300 !default;
$modal-header-border-color:         $modal-content-border-color !default;

// Progress bars

$progress-bg:                       $gray-300 !default;
$progress-border-radius:            10px !default;
$progress-bar-color:                $primary !default;

// List group

$list-group-border-color:           $gray-300 !default;
$list-group-hover-bg:               $gray-200 !default;
$list-group-active-color:           $body-color !default;
$list-group-active-bg:              $gray-200 !default;
$list-group-active-border-color:    $gray-300 !default;
$list-group-disabled-color:         $gray-500 !default;
$list-group-disabled-bg:            $white !default;
$list-group-action-color:           $list-group-active-color !default;
$list-group-action-active-color:    $list-group-active-color !default;
$list-group-action-active-bg:       $gray-300 !default;

// Breadcrumbs

$breadcrumb-padding-y:              .375rem !default;
$breadcrumb-padding-x:              .75rem !default;
$breadcrumb-bg:                     $pagination-bg !default;
$breadcrumb-border-radius:          .25rem !default;

// Close

$btn-close-color:            $white !default;
$btn-close-opacity:          .8 !default;
$btn-close-hover-opacity:    1 !default;



/*-- scss:rules --*/


// Variables

// Navbar

.bg-primary {
  background-color: $dark !important;
}

.bg-dark {
  background-color: $secondary !important;
}

.bg-light {
  background-color: $gray-200 !important;
}

.sandstone {
  font-size: 13px;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

.navbar {
  .nav-link {
    @extend .sandstone;
  }

  &-form input,
  &-form .form-control {
    border: none;
  }
}

// Buttons

.btn {
  @extend .sandstone;

  &:hover {
    border-color: transparent;
  }

  &-success,
  &-warning {
    color: $white;
  }
}

// Tables

.table {
  .thead-dark th {
    background-color: $dark;
  }
}

// Forms

input,
.form-control {
  @include box-shadow(none);

  &:focus {
    @include box-shadow(none);
  }
}

// Navs

.nav-tabs {
  .nav-link {
    @extend .sandstone;
    background-color: $gray-200;
    border-color: $gray-300;
  }

  .nav-link,
  .nav-link:hover,
  .nav-link:focus {
    color: $gray-600;
  }

  .nav-link.disabled,
  .nav-link.disabled:hover,
  .nav-link.disabled:focus {
    background-color: $gray-200;
    border-color: $gray-300;
    color: $nav-link-disabled-color;
  }
}

.nav-pills {
  .nav-link {
    @extend .sandstone;
    border: 1px solid transparent;
    color: $gray-600;
  }

  .nav-link.active,
  .nav-link:hover,
  .nav-link:focus {
    background-color: $gray-200;
    border-color: $gray-300;
  }

  .nav-link.disabled,
  .nav-link.disabled:hover {
    background-color: transparent;
    border-color: transparent;
    color: $gray-300;
  }
}


.breadcrumb {
  @extend .sandstone;
  border: 1px solid $gray-300;
}

.pagination {
  @extend .sandstone;

  a:hover {
    text-decoration: none;
  }
}

.dropdown-menu {
  .dropdown-item {
    @extend .sandstone;
  }
}

// Indicators

.alert {
  color: $white;

  a,
  .alert-link {
    color: $white;
    text-decoration: underline;
  }

  &-primary {
    &,
    > th,
    > td {
      background-color: $primary;
    }
  }

  &-secondary {
    &,
    > th,
    > td {
      background-color: $secondary;
    }
  }

  &-success {
    &,
    > th,
    > td {
      background-color: $success;
    }
  }

  &-info {
    &,
    > th,
    > td {
      background-color: $info;
    }
  }

  &-danger {
    &,
    > th,
    > td {
      background-color: $danger;
    }
  }

  &-warning {
    &,
    > th,
    > td {
      background-color: $warning;
    }
  }

  &-dark {
    &,
    > th,
    > td {
      background-color: $dark;
    }
  }

  &-light {
    &,
    > th,
    > td {
      background-color: $light;
    }

    &,
    a:not(.btn),
    .alert-link {
      color: $body-color;
    }
  }
}

.badge {
  &.bg-light {
    color: $dark;
  }
}

.tooltip {
  @extend .sandstone;
}

// Containers

.modal,
.toast {
  .btn-close {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23dfd7ca'><path d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/></svg>");
  }
}

