```{=html}
<div class="news-div">
    <ol class="news-ol">

<%/* create custom listing */%>
<% for (const item of items) { %>
    <li class="news-li"><h6 class="no-anchor"><span class="news-span"><%= item['display-date']%></span></h6><p class="listing-title news-p"><%= item['title']%></p></li>
<% } %>
</ol>
</div>
```