```{=html}
<div class="edu-container">
    <div class="edu-card">
      <dl class="edu-list">

<%/* create custom listing */%>
<% for (const item of items) { %>
    <div class="edu-list-item">
        <dt><%=item['title']%></dt>
        <dd><%=item['year']%></dd>
        <br>
      </div>
      <p><%=item['degree']%></p>
<% } %>
</dl>
</div>
</div>
```