```{=html}
<div class="edu-container">
    <div class="edu-card">
      <dl class="edu-list">

<%/* create custom listing */%>
<% for (const item of items) { %>
    <div class="edu-list-item">
        <dt><a href="<%=item['href']%>"><%=item['title']%></a></dt>
        <dd><%=item['year']%></dd>
        <br>
      </div>
      <p class="edu-list-item-desc"><%=item['degree']%></p>
<% } %>
</dl>
</div>
</div>
```